/* Website Styles */

body {
  background-color: grey;
  color: black;
  font-family: Arial;
}

h1 {
  color: white;
}

body {
  font-family: 'Noto Serif TC', Georgia, serif;
}

h1 {
  /* font-family: Helvetica, Arial; */
}

body{
  background-color: grey;
  color: black;
}
