/* Website Styles */
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  /* box-sizing: border-box; */
  /* border: 1px solid red; */
  }

  .title {
    font-size: 48px;
    text-decoration: underline;
  }

body {
  background-image: url{images/pattern.png};
  background-repeat: no-repeat;
  /* background-repeat: repeat; */
  /* background-color: Holiday Red; */
  color: black;
  font-family: 'Noto Serif TC', Georgia, serif;
  font-size: 16px;
  margin: 50px;
  }

  header,
  section,
  footer {
    padding: 30px;
    /* border-bottom: 5px solid grey; */
  }

  section {
    border: 1px solid gainsboro;
    background-color: gray;
    margin: 30px;
    padding: 30px;
  }

h1 {
  color: white;
  font-size: 36px;
  text-align: left;
  }

header h1 {
  text align: center;
  /* border-bottom: 5px solid grey; */
  }

h2 {
  font-size: 24px;
  }

h3 {
  font-size: 18px;
  }

h1, h2, h3 {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  }

h1 {
  font-family: Helvetica, Arial;
  }

p {
  line-height: 2;
  margin: 20px 0;
  }

/* img {
  height: 300px;
  } */

a {
  text-decoration: none;
    color: blue;
  }

a:hover {
  color: blue;
  text-decoration: underline;
  }

ul,ol {
  margin: 15px 0;
  }

/* .container {
  max-width: 1000px;
  margin: 0 auto;
  } */
  .banner {
    height: 250px;
    background-image: url(images/banner.jpg);
    /* background-size: cover; */
     /* background-position: center; */
  }
