/* Website Styles */

body {
  background-color: grey;
  color: black;
  font-family: 'Noto Serif TC', Georgia, serif;;
  font-size: 14px;
}

h1 {
  color: white;
  font-size: 36px;
  text-align: left;
}
header h1 {
  text align: center;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: bold;
  font-style: italic;
}

h1 {
  /* font-family: Helvetica, Arial; */
}

p {
  line-height: 2;
}

a:hover {
  color: red;
  text-decoration: underline;
}
